body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
  padding: 0;
  color:#2ebf6a;
}

#wrapper{
  min-height: 100vh;
  background: #3d424c;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  background-color: #282c34;
  color: white;
  padding: 20px;
}
#logo {
  height: 48px;
}
#footer {
  display: flex;
  background-color: #282c34;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
  padding: 20px;
}

#content {
  display: flex;
  flex: 1;
}
#sidebar {
  min-width:200px;
  background: #282c34;
  color:white;
  padding:20px;
}
#sidebar-genres {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar-genres label {
  cursor: pointer;
}
  

.message {
  display: flex;
  flex:1;
  color:white;
  font-size:30px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

/****************************
  Basic Flex Grid System 
  Support: ( > 2 latest browsers )
****************************/
.flex-row {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.flex-col {
  flex: 1;
  flex-direction: column;
}


/****************************
Animation
****************************/
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}