.movie-card {
    width: 300px;
    max-width: 300px;
    background: #ccc;
    margin:20px;
}

.movie-card-image{
    width: 300px;
}
.movie-card-body {
    padding: 20px;
}
.movie-card-title {
    color:#333;
}
.movie-card-rating {
    color:#666;
    font-size: 0.9em;    
}